#bloc_page{
    width: 980px;
    height: auto;
    margin: auto;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: bisque;
    
}
#logo{
    width: auto;
    height: 50px;
}
ul{
    display: flex;
    justify-content: space-between;

}
ul li{
    list-style: none;
    margin-right: 30px;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main img{
    width: 300px;
    height: auto;

}
