.bloc_page {
    width: 980px;
    height: auto;
    margin: auto;
    flex: 1;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: bisque;

    #logo {
        width: auto;
        height: 50px;
    }

    ul {
        display: flex;
        justify-content: space-between;

    }

    ul li {
        list-style: none;
        margin-right: 30px;
        font-size: larger;
        font-weight: 500;
    }

}

a {
    text-decoration: none;
    color: black;
}

.teddies__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &>p {
        margin-right: 30px;
    }

    & h2 {
        font-family: Raleway;
        font-size: larger;
        font-weight: 700;
    }
}

// norbert.html
.teddy {

    & h1 {
        font-family: Raleway;
        font-size: larger;
        font-weight: 700;

    }

    & h2 {
        display: flex;
        justify-content: space-between;
        font-family: Raleway;
        font-size: medium;
        font-weight: 500;
    }

}

#info-client {
    width: 80%;
    height: auto;
    margin: auto;

    & div {
        border: 1px solid #f2f2f2;
        height: 30px;

    }

    & label {
        font-weight: 600;
        height: 100%;


    }

    & input {
        display: inline-block;
        border: none;
        width: 80%;
        height: 95%
    }
}

.btnCmd {
    display: inline-block;
    margin: auto;
    background-color: green;
}

a {
    display: inline-block;
    margin-left: 30px;
    color: blue;



}

img {
    width: 300px;
    height: auto;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
}

#panier>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;

    & img {
        width: 150px;
        height: auto;
    }

    & .delBtn {
        width: 80px;
        height: 20px;
        color: white;
        cursor: pointer;
        background-color: rgb(199, 41, 41);
    }

    & .divNum {
        display: flex;
        width: 30px;
        height: 20px;

        & button {
            cursor: pointer;
        }


        >input {
            width: 20px;

        }
    }


}