.bloc_page {
    width: 980px;
    height: auto;
    margin: auto;
    flex: 1;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: bisque;

    #logo {
        width: auto;
        height: 50px;
    }

    ul {
        display: flex;
        justify-content: space-between;

    }

    ul li {
        list-style: none;
        margin-right: 30px;
        font-size: larger;
        font-weight: 500;
    }

}

a {
    text-decoration: none;
    color: black;
}

.teddies__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &>p {
        margin-right: 30px;
    }

    & h2 {
        font-family: Raleway;
        font-size: larger;
        font-weight: 700;
    }
}

// norbert.html
.teddy {

    & h1 {
        font-family: Raleway;
        font-size: larger;
        font-weight: 700;

    }

    & h2 {
        display: flex;
        justify-content: space-between;
        font-family: Raleway;
        font-size: medium;
        font-weight: 500;
    }

}

#info-client {
    width: 100%;
    height: auto;
    margin: auto;
    border: 1px solid gray;


    & div {
        border: 1px solid #f2f2f2;
        height: 30px;
        border-bottom: 1px solid gray;

    }

    & label {
        font-weight: 600;
        height: 100%;


    }

    & input {
        display: inline-block;
        border: none;
        width: 90%;
        height: 95%
    }
}

.btnCmd {
    display: inline-block;
    margin-top: 30px;
    margin-left: 85%;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(16, 185, 115);
    cursor: pointer;


    background-color: rgb(16, 185, 115);
}

a {
    display: inline-block;
    margin-left: 30px;
    color: blue;



}

img {
    width: 300px;
    height: auto;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
}

#panier {
    border: 1px solid gray;
    margin-bottom: 30px;

    >div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 30px;
        border-bottom: 1px dashed gray;
    }

    & img {
        width: 150px;
        height: auto;
    }

    & .delBtn {
        width: 80px;
        height: 20px;
        border: 1px solid rgb(235, 119, 119);
        ;
        color: white;
        cursor: pointer;
        background-color: rgb(235, 119, 119);
    }

    & h3 {
        text-align: end;
        padding-right: 50px;
    }

}